<html>
	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
            
  	<style>html,body{height: 100%;margin: 0;padding: 0;}.a{font-weight: 200;}.b{height:30%}</style>
	</head>
	<body>
    <div class="row z-depth-2" style="margin-bottom: 4px;" style="z-index: 2">
      <div class="col s12 center-align"><h1 class="a">ЖMPS</h1></div>
    </div>



    <div class="row center-align" style="margin-top: 100px">
      <h1 class="a">First time user? </h1>
      <a class="waves-effect waves-light btn-large grey darken-3" href="/register">Start here!</a>
    </div>
     <div class="row center-align" style="margin-top: 100px">
      <h1 class="a">or, </h1>
      <a class="waves-effect waves-light btn-large grey darken-3" href="/login">Go to Login</a>
    </div>

	</body>
</html>