<html>
	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  	<style>html,body{height: 100%;margin: 0;padding: 0;}.a{font-weight: 200;}.b{height:30%}</style>
	</head>
	<body>
    <div class="row z-depth-2" style="margin-bottom: 4px;" style="z-index: 2">
      <div class="col s12 center-align"><h1 class="a">ЖMPS</h1></div>
    </div>


    <form action="" method="post">
    <div class="row" style="margin-top: 45px">
      <div class="col s4 offset-s4">
      <div class="card z-depth-2" style="width: 500px;">
        <div class="card-content ">
          <span class="card-title center">Register</span>

          <div class="row">
            {{form.hidden_tag()}}
            {{form.oname.label}}
            {{form.oname(size=80)}}
            {% for error in form.oname.errors %}
            <span class="red-text" style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{form.name.label}}
            {{form.name(size=80)}}
            {% for error in form.name.errors %}
            <span class="red-text" style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{form.email.label}}
            {{form.email(size=80)}}
            {% for error in form.email.errors %}
            <span class="red-text" style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{form.password.label}}
            {{form.password(size=80)}}
            {% for error in form.password.errors %}
            <span class="red-text" style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{form.confirm.label}}
            {{form.confirm(size=80)}}
            {% for error in form.confirm.errors %}
            <span class="red-text" style="color: red;">{{ error }}</span>
            {% endfor %}

          </div>
          
        </div>

        <div class="card-action center-align">
          {{form.submit(class_="btn grey darken-3")}}
          
        </div>
      </div>
    </div>
    </div>
  </form>


	</body>
</html>