{% extends 'base.html' %}

{% block content %}

<div class="row" style="margin-top: 150px">
      <div class="col  offset-s4">
      <form action="" method="post">
      <div class="card z-depth-2" style="width: 500px;">
        <div class="card-content ">
          <span class="card-title center">Delete Department</span>
          {{form.hidden_tag()}}
          <p>All employees and related data will be lost. Do you really want to delete this department?</p>
          </div>        
          <div class="card-action center">
            {{form.submit(class_="btn grey darken-3")}}
          </div>
      </form>
    
      </div>
</div>
{% endblock%}