{% extends 'base.html' %}

{% block content %}

<div class="row" style="margin-top: 100px;">
    <div class="col s6 center-align">
      <h1 class="a">Track your departments like a pro.</h1><br>
      <a class="waves-effect waves-light btn-large grey darken-3" href="/admin/departments">Departments</a>
    </div>
    
    <div class="col s6 center-align">
      <h1 class="a">Add more members to the family.</h1><br>
      <a class="waves-effect waves-light btn-large grey darken-3" href="/admin/employees">Employees</a>
    </div>
  </div>

{% endblock%}